@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  direction: ltr;
  background: -moz-radial-gradient(circle, rgba(205,198,205,1) 53%, rgba(255,255,255,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(205,198,205,1) 53%, rgba(255,255,255,1) 100%);
  background: radial-gradient(circle, rgba(205,198,205,1) 53%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdc6cd",endColorstr="#ffffff",GradientType=1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

